<app-navbar></app-navbar>
<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-5">
            <h1>{{ product.name }}</h1>
            <img src="/{{ product.imageUrl }}" alt="Cover photo for product" />
            <p>{{ product.description }}</p>
            <h5>{{ product.price / 100 | currency: 'USD' }}</h5>
            <label for="query">What's your question?</label>
            <input type="text" id="query" ([ngModel])="query">
<dl-date-time-picker
startView="day"
maxView="year"
minView="minute"
minuteStep="30"
[(ngModel)]="selectedDate"
>
</dl-date-time-picker>
<br>
<p>{{ selectedDate | date: 'long' }}</p>
<button (click)="addToCart()" class="btn-primary">Confirm</button>
</div>
</div>
</div>
 