<app-navbar></app-navbar>
<div class="main content">
  <div class="row">
  <div class="container-fluid col-md-5">
<form [formGroup]="checkoutForm">
  <div class="form-group">
    <h1>Customer Details</h1>
    <label>First name:</label>
    <input type="text" formControlName="firstName" class="form-control bg-light" placeholder="name">
  </div>
  <div class="form-group">
    <label>Last name:</label>
    <input type="text" formControlName="lastName" class="form-control bg-light" placeholder="name">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" formControlName="email" class="form-control bg-light" placeholder="email">
  </div>
</form>
<h1>Payment</h1>
<h4>{{ totalPrice / 100 | currency: 'USD' }}</h4>
<ngx-stripe-card
  [elementsOptions]="elementsOptions"
[options]="cardOptions">
</ngx-stripe-card>
<button type="submit" (click)="pay()">
  PAY
</button>
</div>
<div class="container-fluid col-md-3">
  <div *ngIf="cartItems.length > 0">
    <table class="cart-details">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr *ngFor="let item of cartItems">
        <td>{{ item.name }}<br> <img src="{{ item.image }}" alt="product image" class="view-cart"/> </td>
        <td>{{ item.price / 100 | currency: 'USD'}}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    </table>
  </div>
</div>
</div>
</div>