<app-navbar></app-navbar>
<div class="main-content">
<div class="container-fluid bg-light">
<h1>Welcome to {{ title }}!</h1>
<p>This project is based on the <a href="https://angular-ecommerce-clone.herokuapp.com/">Full Stack Ecommerce Application</a> which leveraged a Springboot back-end.</p>
<P>This project, {{ title }}, is developed with the MEAN stack and integrates with Stripes Products, Prices, and PaymentIntents APIs.</P>
<p>The idea behind this project was for my own need for my small spiritual business. I wanted to have a custom website, but also accept secure online payments. 
    I, previously, created <a href="https://healingbyprieta.com/bookings">my website</a> only using Stripe Checkout, but I wanted to take on the challenge of building a custom payment flow.</p>

</div>
</div>
<app-footer></app-footer>