<app-navbar></app-navbar>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- loop over prodcuts from Stripe -->

        <div *ngFor="let tempProduct of products" class="col-md-3 products-view">
          <div>
            <a routerLink="/book/{{tempProduct.id}}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
            </a>
            <a routerLink="/book/{{tempProduct.id}}">
            <h1>{{ tempProduct.name }}</h1>
            </a>
            <h5>{{ tempProduct.description }}</h5>
            <div class="price">{{ tempProduct.price / 100 | currency: 'USD' }}</div>
            <button class="btn btn-primary btn-sm" routerLink="/book/{{tempProduct.id}}">Book</button>
              <!-- modal window 
              <div class="modal fade" id="booking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Book a reading</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <app-bookings [products]="products"></app-bookings>
                    </div>
                    <div class="modal-footer">
                      <button type="button" (click)="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" (click)="saveBooking()" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                    </div>
                  -->
                  </div>
                </div>
              </div>
   
        </div>
        </div>
      </div>
      <app-footer></app-footer>